body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
}

div.container {
  width: 50%;
  text-align: center;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border: 2px solid #3498db;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 45px;
  margin-top: 20px;
}

form label {
  margin-bottom: 8px;
  width: 100%;
}

form input,
form select,
form textarea {
  margin-bottom: 16px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

form button {
  margin-top: 16px;
  padding: 10px;
  width: 100px;
  box-sizing: border-box;
  background-color: #4CAF50;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

#missingPersonsListResults td {
  white-space: pre-line;
}

#listHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

#divisionFilter {
  margin-left: 10px;
  width: 120px;
  padding: 7px;
  box-sizing: border-box;
  border:#3498db solid;
  border-radius: 4px;
  background-color: #3498db;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
}


#openFormButton {
  padding: 8px;
  width: 100px;
  box-sizing: border-box;
  background-color: #4CAF50;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#toggleStatusButton {
  padding: 3px;
  width: 80px;
  box-sizing: border-box;
  background-color: #ff5722;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add this to your CSS file or style tag */
.center {
  text-align: center;
}

#leftTable {
  width: 50%;
  float: left;
}

#leftTable th,
#leftTable td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}
